<!DOCTYPE html>
<html>
<head>
	<%= favicon_link_tag 'fs_favi.ico' %>
  <title>foolshoots.</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<%= yield %>

 <div id="loading">
      	<%= image_tag("jar-load.gif") %>
 </div>

</body>
</html>
